@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
html,
body,
.flex-container {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    margin-top: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas {
    z-index: 0;
    /* cursor: none; */
    position: relative;
    width: calc(20px * 45);
    height: calc(13px * 45);
    border: 1px solid red;
    /* https://cz.pinterest.com/pin/298574650280907774/ */
    background-image: url(./world_map.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#toolbar {
    margin-bottom: 10px;
    width: calc(20px * 45);
    padding: 10px 50px;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.col {
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
}

button {
    height: 25px;
    background-color: transparent;
    color: green;
    border: 1px solid green;
}

button:disabled {
    border: 1px solid gray;
    background-color: lightgray;
    color: gray;
    display: none;
}

#target {
    z-index: -1;
    pointer-events: none;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 47px;
    height: 47px;
    /* https://www.stickpng.com/img/miscellaneous/symbols/red-target */
    background-image: url(./target.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.virus {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 75px;
    background-image: url(./corona.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.virus .clickable {
    width: 46px;
    height: 46px;
    border-radius: 46px;
}

#deadZone {
    z-index: -3;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: -1px;
    /* Fix to weird part-pixel bug */
    background-color: rgba(255, 0, 0, 0.5);
    border-right: 1px solid red;
}

#gameOver {
    z-index: 0;
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .9);
    color: white;
}

#gameOver .title {
    color: red;
    font-weight: bold;
    font-size: 50px;
}

#gameOver .newRecord {
    display: none;
}


/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* https://rainbowcoding.com/2011/12/02/how-to-create-rainbow-text-in-html-css-javascript/ */

.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#debug {
    pointer-events: none;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#debugDot {
    z-index: 100;
    position: absolute;
    width: 5px;
    height: 5px;
    top: 0;
    left: 0;
    background-color: red;
    border-radius: 5px;
}

.blink {
    animation: blinker 1ms linear infinite;
}

@keyframes blinker {
    0% {
        background-color: red;
    }
    50% {
        background-color: green;
    }
}