@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
html,
body,
.flex-container {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas {
    z-index: 0;
    /* cursor: none; */
    position: relative;
    width: calc(20px * 45);
    height: calc(13px * 45);
    border: 1px solid red;
    /* https://cz.pinterest.com/pin/298574650280907774/ */
    background-image: url(./world_map.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#toolbar {
    margin-bottom: 10px;
    width: calc(20px * 45);
    padding: 10px 50px;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.col {
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
}

button {
    height: 25px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
}

#button_newGame:disabled {
    height: 25px;
    border: 1px solid gray;
    background-color: transparent;
    color: gray;
}

#button_newGame {
    color: green;
    border: 1px solid green;
}

#target {
    z-index: -1;
    pointer-events: none;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    /* https://www.stickpng.com/img/miscellaneous/symbols/red-target */
    background-image: url(./target.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.virus {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 75px;
    background-image: url(./corona.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.virus .clickable {
    width: 46px;
    height: 46px;
    border-radius: 46px;
}

#deadZone {
    z-index: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.5);
    border-right: 1px solid red;
}

#gameOver {
    z-index: 0;
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .9);
    color: red;
    font-weight: bold;
    font-size: 50px;
}